In [86]:
from pymongo import MongoClient
client = MongoClient('localhost',27017)  # 27017 is the default port number for mongodb

In [87]:
# create test database

In [88]:
db = client.test

# INSERT RECORDS INTO DATABASE

#There are two ways you can add documents to a MongoDB collection.

#db.collection.insert_one()
#db.collection.insert_many()

In [89]:
db.SalesDB.insert_one({
    'name': "Linda",
    'orderdate': "6/10/2021",
    'species': "Dog",
    'ownerAddress': "380 W. Fir Ave",
    'chipped': True
})

In [99]:
data=[{"name" : "Kitana", "orderdate" : "6/10/2021", "species" : "Cat", "ownerAddress" : "521 E. Cortland", "chipped" : 'true' },
{"name" : "Marsh", "orderdate" : "6/10/2021", "species" : "Dog", "ownerAddress" : "380 W. Fir Ave", "chipped" : 'true' },
{"name" : "Loo", "orderdate" : "7/10/2021", "species" : "Dog", "ownerAddress" : "380 W. Fir Ave", "chipped" : 'true' },
{"name" : "Kevin", "orderdate" : "8/10/2021", "species" : "Dog", "ownerAddress" : "900 W. Wood Way", "chipped" : 'true' }]

In [100]:
result=db.SalesDB.insert_many(data)
document_ids = result.inserted_ids
print("# of documents inserted: " + str(len(document_ids)))
print(f"_ids of inserted documents: {document_ids}")

# of documents inserted: 4
_ids of inserted documents: [ObjectId('63948ab5bd4ffa5ab59fd970'), ObjectId('63948ab5bd4ffa5ab59fd971'), ObjectId('63948ab5bd4ffa5ab59fd972'), ObjectId('63948ab5bd4ffa5ab59fd973')]

# Read data from databaseÂ¶

# two ways to read documents from a collection in MongoDB:

# db.collection.find()
# db.collection.find_one()

#    # syntax of the function is as follows 
    db.{collection}.find_one({query}, {projection})

In [101]:
query={"orderdate":"8/10/2021"}

In [102]:
db.SalesDB.find_one({"orderdate":"8/10/2021"})

{'_id': ObjectId('63948ab5bd4ffa5ab59fd973'),
 'name': 'Kevin',
 'orderdate': '8/10/2021',
 'species': 'Dog',
 'ownerAddress': '900 W. Wood Way',
 'chipped': 'true'}

In [103]:
db.SalesDB.find_one(query)

{'_id': ObjectId('63948ab5bd4ffa5ab59fd973'),
 'name': 'Kevin',
 'orderdate': '8/10/2021',
 'species': 'Dog',
 'ownerAddress': '900 W. Wood Way',
 'chipped': 'true'}

In [104]:
documents_to_find ={'species':"Dog"}

# Write an expression that selects the documents matching the query constraint in the 'accounts' collection.
cursor = db.SalesDB.find(documents_to_find)

num_docs = 0
for document in cursor:
    num_docs += 1
    print(document)
    print()
print("# of documents found: " + str(num_docs))

{'_id': ObjectId('63948ab5bd4ffa5ab59fd971'), 'name': 'Marsh', 'orderdate': '6/10/2021', 'species': 'Dog', 'ownerAddress': '380 W. Fir Ave', 'chipped': 'true'}

{'_id': ObjectId('63948ab5bd4ffa5ab59fd972'), 'name': 'Loo', 'orderdate': '7/10/2021', 'species': 'Dog', 'ownerAddress': '380 W. Fir Ave', 'chipped': 'true'}

{'_id': ObjectId('63948ab5bd4ffa5ab59fd973'), 'name': 'Kevin', 'orderdate': '8/10/2021', 'species': 'Dog', 'ownerAddress': '900 W. Wood Way', 'chipped': 'true'}

# of documents found: 3

# Update Operation

#MongoDB CRUD allows users to update documents in three different ways:

#db.collection.update_one()
#db.collection.update_many()
#db.collection.replace_one()

In [105]:
records={'name': "Marsh"}
data={'ownerAddress': "451 W. Coffee St. A204"}

In [106]:
result=db.SalesDB.update_one(records, {'$set':data})

In [107]:
result

In [68]:
# update and new data with specific records

In [108]:
records={'species':"Dog"}
data= {'age': "5"}

In [109]:
db.SalesDB.update_many(records, {'$set': data})

# replace records

# The replace_one() method replaces a single document in a collection

In [114]:
records={'name': "Kevin"}
data= {'name': "Maki"}

In [115]:
db.SalesDB.replace_one(records, data)

In [116]:
db.SalesDB.find({'_id':'0x1fdb04cf7c0>'})

# Delete Operation

# There are two ways to delete records from a collection in MongoDB:

# db.collection.delete_one()
# db.collection.delete_many()

In [113]:
db.SalesDB.delete_one({'name':"Maki"})

In [118]:
db.SalesDB.delete_many({'species':"Dog"})